.wrap {
    width: 100%;
    align-items: center
}

.showDay {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.shiftHead {
    font-size: small;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.selects {
    width: 100%;
    align-items: center
}

.theSelect {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.addRemoveCloseOpenBtnWrap {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 5px;
}